# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp
*.exe

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
*.obj
*.obj
SFMLGame2.opensdf
SFMLGame2/Debug/ComponentBase.obj
*.obj
*.tlog
Debug/SFMLGame2.exe
*.ilk
Debug/SFMLGame2.pdb
*.tlog
SFMLGame2/Debug/TransformComponent.obj
*.obj
SFMLGame2/data/UI/CharacterWindow/PlayerWindowLayout.psd
*.suo
*.pdb
*.obj
*.tlog
*.vcxproj
LuaPlusLib/LuaPlusLib.vcxproj
*.sdf
SFMLGame2/Debug/vc140.idb
*.log
SFMLGame2/SFMLGame2.vcxproj